Repository hochschule-darmstadt/einander-helfen, pull requests merged in 2020-12, with the labels that each got.

#190 188/adapt the data model of existing scrapers to the new version
  etl/data_extraction/Scraper.py
  etl/data_extraction/scraper/ehrenamt_hessen.py
  etl/data_extraction/scraper/gutetat_berlin.py
  etl/requirements.txt
  etl/test/data_extraction/__init__.py
  etl/test/data_extraction/test_Scraper.py
Labels: ETL, enhancement

#192 169/proposal for new crawling website int
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  app/src/views/About.vue
  etl/data_enhancement/domain/weltwaerts.py
  etl/data_extraction/Scraper.py
  etl/data_extraction/scraper/weltwaerts.py
Labels: ETL, backend

#204 202/Scraper for GuteTat Hamburg and Munich
  etl/data_extraction/scraper/gutetat_berlin.py
  etl/data_extraction/scraper/gutetat_hamburg.py
  etl/data_extraction/scraper/gutetat_munich.py
  etl/main.py
Labels: ETL, backend

#203 179/implementation of missing latitude and longitude at crawling
  .gitignore
  etl/data_enhancement/domain/default.py
  etl/data_enhancement/utils/lat_lon_enhancer.py
  etl/requirements.txt
  etl/test/__init__.py
  etl/test/data_enhancement/__init__.py
  etl/test/data_enhancement/test_lat_lon_enhancer.py
Labels: ETL, backend

#206 #205 improved memory usage
  etl/data_enhancement/domain/default.py
  etl/data_extraction/Scraper.py
  etl/data_extraction/scrape_data.py
  etl/main.py
  etl/shared/utils.py
Labels: ETL, backend, bug, high

#226 211/remove exact duplicates on a single page
  etl/data_enhancement/enhance_data.py
  etl/data_enhancement/enhancement_duplicates/JsonPost.py
  etl/data_enhancement/enhancement_duplicates/enhancement_exact_duplicates.py
  etl/test/data_enhancement/enhancement_duplicates/__init__.py
  etl/test/data_enhancement/enhancement_duplicates/test_enhancement_exact_duplicates.py
Labels: ETL, backend

#235 #234 Updated source for hamburg and munich
  etl/data_extraction/scraper/gutetat_berlin.py
Labels: ETL, backend, bug

#230 216 Added crawler for ein-jahr-freiwillig.de
  app/src/views/About.vue
  etl/data_enhancement/enhance_data.py
  etl/data_extraction/Scraper.py
  etl/data_extraction/scraper/ein_jahr_freiwillig.py
Labels: ETL, backend, enhancement

#241 237/add crawler for bundesfreiwilligendienst.de
  app/src/views/About.vue
  etl/data_enhancement/enhance_data.py
  etl/data_extraction/Scraper.py
  etl/data_extraction/scraper/bundesfreiwilligendienst.py
Labels: ETL, backend
