Repository hochschule-darmstadt/einander-helfen, pull requests merged in 2021-05, with the labels that each got.

#318 Use v-app-bar-nav-icon
  app/src/components/layout/Toolbar.vue
Labels: bug, enhancement, frontend

#316 Use v-main
  app/src/App.vue
Labels: enhancement, frontend

#315 Move services
  app/src/components/ui/SearchBar.vue
  app/src/services/CountryService.ts
  app/src/services/DataService.ts
  app/src/services/LocationService.spec.ts
  app/src/services/LocationService.ts
  app/src/services/TagService.ts
  app/src/store/LocationSearch/actions.ts
  app/src/store/LocationSearch/getters.ts
  app/src/store/store.ts
Labels: enhancement, frontend, refactoring

#314 Move build-env-plugin.js
  app/build-env-plugin.js
  app/vue.config.js
Labels: enhancement, frontend, refactoring

#313 Remove class components
  app/package.json
  app/src/App.vue
  app/src/components/layout/Header.vue
  app/src/components/ui/AreaSelect.vue
  app/src/views/About.vue
  app/src/views/Home.vue
  app/src/views/Privacy.vue
Labels: enhancement, frontend

#319 #317/intelligent cleaning of request strings for location enhancement
  etl/data_enhancement/enhancement_location/lat_lon_enhancer.py
  etl/data_enhancement/enhancement_location/request_string_cleaner.py
Labels: ETL, backend

#346 #338 Implemented European Youth Portal
  app/src/views/About.vue
  etl/data_enhancement/enhance_data.py
  etl/data_enhancement/enhancement_translation/enhancement_translation.py
  etl/data_extraction/scraper/european_youth_portal.py
  etl/requirements.txt
  etl/shared/LoggerFactory.py
Labels: ETL, backend, high

#334 #253/Improve displaying of crawling progess
  etl/data_extraction/Scraper.py
  etl/data_extraction/scrape_data.py
  etl/data_extraction/scraper/gutetat_berlin.py
  etl/data_extraction/scraper/gutetat_hamburg.py
  etl/data_extraction/scraper/gutetat_munich.py
  etl/requirements.txt
  etl/shared/ProgressBar.py
Labels: ETL, backend, low, refactoring

#353 #351/Scraper for betterplace.org
  app/src/views/About.vue
  etl/data_extraction/Scraper.py
  etl/data_extraction/scraper/betterplace.py
Labels: ETL, backend

#360 #356/revise error handling
  etl/data_enhancement/enhance_data.py
  etl/data_enhancement/enhancement_duplicates/JsonPost.py
  etl/data_enhancement/enhancement_location/enhancement_location.py
  etl/data_enhancement/enhancement_location/lat_lon_enhancer.py
  etl/data_extraction/Scraper.py
  etl/data_extraction/scraper/betterplace.py
  etl/data_extraction/scraper/bundesfreiwilligendienst.py
  etl/data_extraction/scraper/ehrenamt_hessen.py
  etl/data_extraction/scraper/ein_jahr_freiwillig.py
  etl/data_extraction/scraper/european_youth_portal.py
  etl/data_extraction/scraper/gutetat_berlin.py
  etl/data_extraction/scraper/weltwaerts.py
  etl/shared/utils.py
Labels: ETL, backend, bug, enhancement, high

#361 #357 Implemented sachsen.de scraper
  app/src/views/About.vue
  etl/data_enhancement/enhance_data.py
  etl/data_extraction/scraper/ehrenamt_sachsen.py
Labels: ETL, backend, high

#333 #291/refactor resultpage
  app/.env
  app/src/App.vue
  app/src/assets/images/area/240px-Earth_icon_2.png
  app/src/assets/images/area/240px-Flag_of_Germany.png
  app/src/assets/images/marker/marker-icon-red.png
  app/src/assets/images/marker/marker-icon.png
  app/src/components/posts/MapButton.vue
  app/src/components/posts/MapCard.vue
  app/src/components/posts/PostCard.vue
  app/src/components/posts/PostListItem.vue
  app/src/components/posts/PostPagination.vue
  app/src/components/search/AreaSelect.vue
  app/src/components/search/LocationSearchBar.vue
  app/src/components/search/RadiusSelect.vue
  app/src/components/search/SearchBar.vue
  app/src/components/search/SearchComponent.vue
  app/src/resources/radii/index.ts
  app/src/router.ts
  app/src/services/PostService.ts
  app/src/store/LocationSearch/index.ts
  app/src/store/Posts/index.ts
  app/src/store/Search/index.ts
  app/src/store/TextSearch/index.ts
  app/src/store/store.ts
  app/src/store/types.ts
  app/src/views/Home.vue
  app/src/views/Posts.vue
  app/src/views/ResultPage.vue
  app/tsconfig.json
Labels: enhancement, frontend, refactoring

#363 #355/scroll top button
  app/src/App.vue
  app/src/components/layout/ScrollTopButton.vue
Labels: enhancement, frontend

#368 #357/hotfix/scraper for sachsen.de
  etl/data_extraction/scraper/ehrenamt_sachsen.py
Labels: ETL, backend, bug, high

#369 #287/display title correctly
  app/src/components/posts/PostCard.vue
Labels: bug, frontend

#362 #331/header text change
  app/src/components/layout/MainHeader.vue
  app/src/components/layout/SearchHeader.vue
  app/src/components/layout/Toolbar.vue
  app/src/services/PostService.ts
  app/src/store/store.ts
  app/src/views/About.vue
  app/src/views/Home.vue
  app/src/views/Imprint.vue
  app/src/views/Posts.vue
  app/src/views/Privacy.vue
Labels: enhancement, frontend, high

#379 #377/Update available tags
  app/src/resources/tags/Tags-einander-helfen.csv
  etl/data_enhancement/Tags-einander-helfen.csv
Labels: backend, enhancement, frontend

#380 #351 Fixed wrong type on post_struct.contact
  etl/data_extraction/scraper/betterplace.py
Labels: ETL, backend, bug, high

#381 #357 Fixed missing page on fetching
  etl/data_extraction/scraper/ehrenamt_sachsen.py
Labels: ETL, backend, bug, high
