Repository hochschule-darmstadt/einander-helfen, pull requests merged in 2021-01, with the labels that each got.

#256 Fixed python unit tests
  etl/test/test_data_enhancement/__init__.py
  etl/test/test_data_enhancement/enhancement_duplicates/__init__.py
  etl/test/test_data_enhancement/enhancement_duplicates/test_enhancement_exact_duplicates.py
  etl/test/test_data_enhancement/enhancement_location/__init__.py
  etl/test/test_data_enhancement/enhancement_location/test_lat_lon_enhancer.py
  etl/test/test_data_extraction/__init__.py
  etl/test/test_data_extraction/test_Scraper.py
Labels: backend, bug

#267 Release of a new Version
  .gitignore
  app/package.json
  app/src/components/layout/Header.vue
  app/src/components/layout/Toolbar.vue
  app/src/components/ui/LocationSearchBar.vue
  app/src/components/ui/SearchBar.vue
  app/src/models/post.ts
  app/src/resources/tags/Tags-einander-helfen.csv
  app/src/store/TextSearch/types.ts
  app/src/store/store.ts
  app/src/styles/containerwithcontent.css
  app/src/views/About.vue
  app/src/views/Home.vue
  app/src/views/Imprint.vue
  app/src/views/Privacy.vue
  app/src/views/ResultPage.vue
  etl/README.md
  etl/data_enhancement/Tags-einander-helfen.csv
  etl/data_enhancement/domain/default.py
  etl/data_enhancement/domain/ehrenamt_hessen.py
  etl/data_enhancement/enhance_data.py
  etl/data_enhancement/enhancement_duplicates/JsonPost.py
  etl/data_enhancement/enhancement_duplicates/enhancement_exact_duplicates.py
  etl/data_enhancement/enhancement_location/enhancement_location.py
  etl/data_enhancement/enhancement_location/lat_lon_enhancer.py
  etl/data_enhancement/enhancement_tags/enhancement_tags.py
  etl/data_extraction/Scraper.py
  etl/data_extraction/scrape_data.py
  etl/data_extraction/scraper/bundesfreiwilligendienst.py
  etl/data_extraction/scraper/ehrenamt_hessen.py
  etl/data_extraction/scraper/ein_jahr_freiwillig.py
  etl/data_extraction/scraper/gutetat_berlin.py
  etl/data_extraction/scraper/gutetat_hamburg.py
  etl/data_extraction/scraper/gutetat_munich.py
  etl/data_extraction/scraper/weltwaerts.py
  etl/data_management/DataManager.py
  etl/docker-compose.yml
  etl/execute_elastic_upload.py
  etl/main.py
  etl/requirements.txt
  etl/shared/LoggerFactory.py
  etl/shared/ProgressBar.py
  etl/shared/utils.py
  etl/test/__init__.py
  etl/test/test_data_enhancement/__init__.py
  etl/test/test_data_enhancement/enhancement_duplicates/__init__.py
  etl/test/test_data_enhancement/enhancement_duplicates/test_enhancement_exact_duplicates.py
  etl/test/test_data_enhancement/enhancement_location/__init__.py
  etl/test/test_data_enhancement/enhancement_location/test_lat_lon_enhancer.py
  etl/test/test_data_extraction/__init__.py
  etl/test/test_data_extraction/test_Scraper.py
  etl/test/test_data_management/__init__.py
  etl/test/test_data_management/test_DataManager.py
  etl/upload_to_elasticsearch/elastic.py
Labels: ETL, backend, frontend, high

#279 #272 Added the 'International' tag for ein-jahr-freiwillig.de
  etl/data_extraction/scraper/ein_jahr_freiwillig.py
Labels: ETL, backend, medium
